{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    <h2 class="text-center mt-3">Votre panier</h2>
    <div class="container d-flex justify-content-center my-3">
        {% if items|length>0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.product.productName }}</td>
                            <td>{{ item.product.price }} €</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price * item.quantity }} €</td>
                            <td>
                                <a href="{{ path('cart.remove', {'id': item.product.id}) }}" class="btn btn-danger" onclick="var aze=confirm('Êtes-vous sur de vouloir supprimer ce produit de votre panier ?');return aze;">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-end">Total : </td>
                    <td>{{ total }} €</td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <p>Panier vide</p>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center mb-3">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="#" class="btn btn-primary">Payez</a>
        {% else %}
            <a href="{{ path('security.login') }}" class="btn btn-primary">Payez</a>
        {% endif %}
    </div>

{% endblock %}
