{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ categoryName }}{% endblock %}

{% block body %}

    <!--  formulaire de recherche par Category et province -->
    <div class="my-2 ">
        <div class="col-10 col-lg-6 mx-5 mt-3 mx-auto bg-dark text-white p-3 rounded mt-2 ">
            <h3>Nouvelle recherche</h3>
            <div  class="mx-2 ">
                {{ form_start(form) }}
            </div>
            {{ form_widget(form) }}
            <div class="col-4 mx-auto d-flex justify-content-center ">
                <input type="submit" value="Envoyer" class="btn btn-secondary mt-3 mx-4 ">
            </div>
            {{ form_end(form) }}
        </div>
        <div class="row">
            <div class="col-10 col-lg-6 text-center my-auto mx-auto py-3 ">
                <h3>Votre recherche</h3>
                <h3><span class="badge bg-secondary col-6 mx-2 ">Catégorie : {{ categoryName }}</span></h3>
            </div>
        </div>
    </div>

    <!-- Produit par catégories-->
    <div class="row text-center d-flex justify-content-center pt-4 ">
        {% for productByCategory in productsByCategory %}
            <div class="col-10 col-lg-3 mb-3 mx-2">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <img src="{{ asset_product_image(productByCategory.productPicture) }}" class="card-img-top" alt="{{ productByCategory.productName }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ productByCategory.productName }}</h5>
                        <p class="card-text">{{ productByCategory.productDescription|slice(0, 100) }}...</p>
                        <a href="{{ path('product.detail.index', {'id':productByCategory.id}) }}" class="btn btn-primary">Voir le produit</a>
                        <a class="btn btn-dark " href="{{ path('cart.add', {'id':productByCategory.id}) }}" title="Ajouter le produit" ><i class="bi bi-basket3-fill"></i></a>
                    </div>
                    <div>
                        <h5 class="text-decoration-none text-dark ">Prix : <span class="badge bg-secondary"> {{ productByCategory.price }} € </span> </h5>
                        <a class="text-decoration-none text-dark ">Il reste {{ productByCategory.stock }} produit(s) en stock.</a>
                    </div>
                    <div class="card-footer text-muted mt-2">
                        <a href="{{ path('shop.index', {'id':productByCategory.shop.id}) }}" class="text-decoration-none text-dark">{{ productByCategory.shop.shopName }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
