{% extends 'base.html.twig' %}

{% block title %}Produits recherchés{% endblock %}

{% block body %}

    <div class=" col-9 col-lg-3 mx-5 mb-3 mx-auto">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Envoyer" class="btn btn-primary mt-2">
        {{ form_end(form) }}
    </div>

    <div class="row text-center d-flex justify-content-center pt-4">
        {% for product in products %}
            <div class="col-10 col-lg-2 mb-3 ">
                <div class="card">
                    <img src="{{ product.productPicture }}" class="card-img-top" alt="{{ product.productName }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.productName }}</h5>
                        <p class="card-text">{{ product.productDescription|slice(0, 100) }}...</p>
                        <a href="#" class="btn btn-primary">Voir le produit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
