{% extends 'base.html.twig' %}

{% block title %}Détail du produit{% endblock %}

{% block body %}
    <main>
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-10 col-lg-4 my-5">
                    <img src="{{ productDetail.productPicture }}" class="rounded  img-thumbnail " alt="caddy">
                </div>

                <div class="col-10 col-lg-8 my-5">
                    <div class="card text-center">
                        <div class="card-header text-center">
                            Proposé par : <a href="{{ path('shop.index', {'id':productDetail.shop.id}) }}">{{ productDetail.shop.shopName }}</a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ productDetail.productName }}</h5>
                            <a href="{{ path('category.index', {'id':productDetail.category.id}) }}" class="badge bg-success text-decoration-none">{{ productDetail.category.label }}</a>
                            <a href="{{ path('province.index', {'id':productDetail.province.id}) }}" class="badge bg-success text-decoration-none">{{ productDetail.province.provinceName }}</a>
                            <p class="card-text px-5 py-3">Description du produit :
                                {{ productDetail.productDescription }}
                            </p>
                            <div class="row">
                                <div class="col-6">Prix : {{ productDetail.price }} € </div>
                                <div class="col-6">Il reste {{ productDetail.stock }} produit(s) en stock.</div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('cart.add', {'id':productDetail.id}) }}" class="btn btn-primary">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--infos producteur-->
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <!-- Formulaire d'ajout de commentaire -->
            <div class="container">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Envoyer" class="btn btn-primary my-3">
                {{ form_end(form) }}
            </div>
        {% else %}
            <div class="container">
                <p class="text-center">Pour poster un commentaire, <a href="{{ path('security.login') }}" class="text-dark text-decoration-none">connectez-vous</a> ou <a href="{{ path('signup.index') }}" class="text-dark text-decoration-none">créez un compte</a>.</p>
            </div>
        {% endif %}

        <div class="container py-3 mb-5 d-flex justify-content-center">
            <div class="row">

                <div class="col">
                    <h2 class="mb-4">Commentaires</h2>
                    {% for comment in comments %}
                        <h4>Par {{ comment.user.firstname }} {{ comment.user.lastname }} le {{ comment.createdAt|date("d/m/y") }}</h4>
                        <p>{{ comment.content }}</p>
                    {% endfor %}
                </div>

                <div class="col">
                    <h2>Nos Coordonnées :</h2>
                    <address>
                        {{ productDetail.shop.shopAddress }}<br>
                        Ouvert 7j/j de 09h à 13h et de 14h à 20h <br>
                        <span>{{ productDetail.shop.shopPhone }}</span><br>
                        <span>{{ productDetail.shop.user.email }}</span>
                    </address>
                </div>

            </div>
        </div>
    </main>
{% endblock %}
