{% extends 'base.html.twig' %}

{% block title %}Détail du produit{% endblock %}

{% block body %}
        <div class="container d-flex justify-items-center mt-3 mx-auto ">
            <div class="row">
                <div class="col-10 col-lg-3 my-5">
                    <div class="mb-4">
                        <img src="{{ asset_product_image(productDetail.shop.shopPicture) }}" alt="{{ productDetail.shop.shopName }}" class="w-75">
                    </div>
                    <div class="mt-">
                        <h2>Coordonnées</h2>
                        <address>
                            <span>Adresse : {{ productDetail.shop.shopAddress }}</span><br>
                            <span>Ouvert : 7j/j de 09h à 13h et de 14h à 20h</span><br>
                            <span>Téléphone : {{ productDetail.shop.shopPhone }}</span><br>
                            <span>Email : {{ productDetail.shop.user.email }}</span><br>
                            <span>Catégorie : {{ productDetail.category.label}}</span><br>
                            <span>Département : {{ productDetail.province.provinceName }}</span>
                        </address>
                    </div>
                </div>
                <div class="col-10 col-lg-6 my-3">
                    <div class="card text-center">
                        <div class="card-header text-center mb-2">
                            <p> Proposé par : <a class="text-info text-decoration-none" href="{{ path('shop.index', {'id':productDetail.shop.id}) }}">{{ productDetail.shop.shopName }}</a></p>
                        </div>
                        <div>
                            <img src="{{ asset_product_image(productDetail.productPicture) }}" class="img-fluid " alt="{{ productDetail.shop.shopname }}" id="imgDetail">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ productDetail.productName }}</h5>
                            <p class="card-text px-5 py-3">Description du produit :
                                {{ productDetail.productDescription }}
                            </p>
                            <div class="row">
                                <div class="col-6">Prix : {{ productDetail.price }} € </div>
                                <div class="col-6">Il reste {{ productDetail.stock }} produit(s) en stock.</div>
                            </div>
                            <div class="mt-2">
                                <a href="{{ path('cart.add', {'id':productDetail.id}) }}" class="btn btn-primary">Ajouter au panier</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-lg-3 my-3">
                    <div class="mt-2">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <!-- Formulaire d'ajout de commentaire -->
                            <div >
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <input type="submit" value="Envoyer" class="btn btn-primary my-3 text-center px-3">
                                {{ form_end(form) }}
                            </div>
                        {% else %}
                            <div class="container">
                                <p class="text-center">Pour poster un commentaire, <a href="{{ path('security.login') }}" class="text-info text-decoration-none">connectez-vous</a> ou <br><a href="{{ path('signup.index') }}" class="text-info text-decoration-none">créez un compte</a>.</p>
                            </div>
                        {% endif %}
                    </div>
                    <h2 class="mb-2">Les commentaires</h2>
                    {% for comment in comments%}
                        <p class="fs-6 fw-bold pt-2">Par {{ comment.user.firstname }} {{ comment.user.lastname }} le {{ comment.createdAt|date("d/m/y") }}</p>
                        <span >{{ comment.content }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}
