{% extends 'base.html.twig' %}

{% block title %}{{shopName }}{% endblock %}

{% block body %}

    <div class="row ">
        <div class="col-10 col-lg-6 text-center my-auto mx-auto py-3 shadow-lg p-3 mb-5 bg-white rounded">
            <h3>Vous êtes dans la boutique de <span class="badge bg-secondary col-6 mx-2 ">{{ shopName }}</span></h3>
        </div>
    </div>
    <div class="row text-center d-flex justify-content-center pt-4">
        {% for productByShop in productsByShop %}
            <div class="col-10 col-lg-3 mb-3 mx-2">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <img src="{{ asset_product_image(productByShop.productPicture) }}" class="card-img-top" alt="{{ productByShop.productName }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ productByShop.productName }}</h5>
                        <p class="card-text">{{ productByShop.productDescription|slice(0, 100)|raw }}...</p>
                        <a href="{{ path('product.detail.index', {'id':productByShop.id}) }}" class="btn btn-primary">Voir le produit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
