<!------------------------------------------ pied de page ------------------------------------------>
<footer  >
    <div class="row d-flex justify-content-center px-2 py-3 bg-dark ">
        <div class="col-4 d-flex justify-content-center ">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="navbar-nav flex-column text-secondary">
                <li class="nav-item">
                    <h5 class="nav-link active" aria-current="page" >Compte</h5>
                </li>
                <li class="nav-item">
                    <a href="{{ path('security.logout') }}" class="nav-link text-decoration-none text-secondary">Déconnexion</a>
                </li>
                <!--   Profil vendeur  -->
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a href="{{ path('admin.index') }}"  class="nav-link text-decoration-none text-secondary" >Administration</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('user.details.index') }}" class="nav-link text-decoration-none text-secondary">Profil</a>
                </li>
                <li>
                    <a class="nav-link text-decoration-none text-secondary" href="{{ path('cart.index') }}">Panier</a>
                </li>
            </ul>
            <!--  sans Profil   -->
            {% else %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-secondary">
                    <li class="nav-item">
                        <h5 class="nav-link active" aria-current="page" >Compte</h5>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-secondary" href="{{ path('security.login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-secondary" href="{{ path('signup.index') }}">Inscription</a>
                    </li>
                    <li>
                        <a class="nav-link text-decoration-none text-secondary" href="{{ path('cart.index') }}">Panier</a>
                    </li>
                </ul>
            {% endif %}
        </div>
        <div class="col-4 d-flex justify-content-center">
            <ul class="navbar-nav flex-column text-secondary">
                <li class="nav-item">
                    <h5 class="nav-link active" aria-current="page" >Navigation</h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-decoration-none text-secondary" href="{{ path('home.index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-decoration-none text-secondary" href="{{ path('mentionsLegales.index') }}">Mentions légales</a>
                </li>
                <li>
                    <a class="nav-link text-decoration-none text-secondary" href="{{ path('cgu.index') }}">CGU</a>
                </li>
            </ul>
        </div>
        <section class="row">
            <div class="col mt-4 px-4" >
                <p class="text-center text-secondary">Copyright  &copy;   2020 - 2021   Tous droits réservés <a class="text-decoration-none text-secondary" href="{{ path('mentionsLegales.index') }}">Mentions légales</a> / <a class="text-decoration-none text-secondary" href="{{ path('cgu.index') }}">CGU</a></p>
            </div>
        </section>
    </div>

</footer>