
<header >

    <!-- NAVBAR PC -->
    <nav class="navbar">
        <div class="container pt-1">
            <div class="d-none d-lg-block">
                <!------------ logo -------->
                <a href="{{ path('home.index') }}">
                    <img  src="{{ asset('images/logo.svg') }}"  alt="LOGO" width="70"  >
                </a>
            </div>
            <!------------ menu connexion / inscription / panier  -------->
            <a href="{{ path('home.index') }}" class="d-none d-lg-block text-center h1 text-decoration-none text-dark" >Ma Zone</a>
            <div class="d-none d-lg-block pt-2">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('security.logout') }}" class="btn btn-outline-dark ">Logout</a>
                    {% else %}
                        <a class="btn btn-outline-dark " href="{{ path('security.login') }}">Connexion</a>
                        <a class="btn btn-outline-dark " href="{{ path('signup.index') }}">Inscription</a>
                {% endif %}

                <a class="btn btn-outline-dark " href="#"><i class="bi bi-cart2"></i></a>
            </div>
        </div>
    </nav>

    <!-- NAVBAR portable -->

        <nav class="navbar ">
            <div class="container-fluid d-lg-none">
                <!------------ logo -------->
                <a href="{{ path('home.index') }}" class="d-lg-none d-block text-center h1 text-decoration-none text-dark" >Ma Zone</a>

                <button class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="container" onclick="Xnav(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </button>
            </div>
            <!------------ menu connexion / inscription -------->
            <div class="collapse d-lg-none py-4" id="navbarToggleExternalContent">
                <div class=" mx-5 px-3 mt-4">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('security.logout') }}" class="btn btn-outline-dark ">Logout</a>
                    {% else %}
                        <a class="btn btn-outline-dark " href="{{ path('security.login') }}">Connexion</a>
                        <a class="btn btn-outline-dark " href={{ path('signup.index') }}>Inscription</a>
                    {% endif %}
                    <a class="btn btn-outline-dark " href="#"><i class="bi bi-cart2"></i></a>
                </div>
            </div>
        </nav>