
<header class="header">

    <!-- NAVBAR PC -->
    <nav class="navbar navbar-expand-lg  navbar-light bg-light">
        <div class="container pt-1">
            <div class="d-none d-lg-block">
                <!------------ logo -------->
                <a href="{{ path('home.index') }}">
                    <img  src="{{ asset('images/logo.svg') }}"  alt="LOGO" width="70"  >
                </a>
            </div>
            <!------------ menu connexion / inscription / panier  -------->
            <a href="{{ path('home.index') }}" class="d-none d-lg-block text-center h1 text-decoration-none text-dark" >MaZone</a>
            <div class="d-none d-lg-block pt-2" id="navbarText">
                <!--   Profil client   -->
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="{{ path('security.logout') }}" class="nav-link me-3">Déconnexion</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('user.details.index') }}" class="nav-link me-3">Profil</a>
                        </li>
                    <!--   Profil vendeur  -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a href="{{ path('admin.index') }}"  class="nav-link me-3" >Administration</a>
                        </li>
                    {% endif %}
                        <li>
                            <a class="btn btn-outline-dark " href="{{ path('cart.index') }}"><i class="bi bi-cart2"></i></a>
                        </li>
                    </ul>
                    <!--  sans Profil   -->
                    {% else %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security.login') }}">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-3" href="{{ path('signup.index') }}">Inscription</a>
                            </li>
                            <li>
                                <a class="btn btn-outline-dark " href="{{ path('cart.index') }}"><i class="bi bi-cart2"></i></a>
                            </li>
                        </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- NAVBAR portable -->

        <nav class="navbar  navbar-light bg-light">
            <div class="container-fluid d-lg-none">
                <!------------ logo -------->
                <a href="{{ path('home.index') }}" class="d-lg-none d-block text-center h1 text-decoration-none text-dark" >Ma Zone</a>
                <button class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="container" onclick="Xnav(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </button>
            </div>
            <!------------ menu connexion / inscription -------->
            <div class="collapse d-lg-none py-4 ms-auto " id="navbarToggleExternalContent">
                <div class="px-3 mt-4 " >
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link h2 text-end" href="{{ path('security.logout') }}" >Déconnexion</a>
                        </li>
                        <li class="nav-item h2">
                            <a href="{{ path('user.details.index') }}" class="nav-link me-3 text-end">Profil</a>
                        </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a class="nav-link h2 text-end" href="{{ path('admin.index') }}">Administration</a>
                        </li>
                        <li>
                            <a class="btn btn-outline-dark mt-2" href="{{ path('cart.index') }}"><i class="bi bi-cart2"></i></a>
                        </li>
                   </ul>
                   {% endif %}
                   {% else %}
                   <ul class="navbar-nav mb-2 mb-lg-0 ">
                       <li class="nav-item text-center">
                           <a class="nav-link h2" href="{{ path('security.login') }}">Connexion</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link h2" href="{{ path('signup.index') }}">Inscription</a>
                       </li>
                       <li>
                           <a class="btn btn-outline-dark " href="{{ path('cart.index') }}"><i class="bi bi-cart2"></i></a>
                       </li>
                   </ul>
                   {% endif %}
                </div>
            </div>
        </nav>
</header>